.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Fora da tela inicialmente */
    width: 300px;
    height: 100%;
    background-color: #282c34;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar.open {
    left: 0; /* Desliza para dentro da tela */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }
  
  h2 {
    margin-top: 50px;
    text-align: center;
    animation: blink 2s infinite;
  }
  
 